/* section */
section{
  width: 50%;
  height: 50%;
  margin: auto;
}
/* prima stringa */
.prima-stringa .seconda-stringa{
  width: auto;
  height: auto;
}
.contenitore{
  display: inline-block;
  position: relative;
}
.sconto-30{
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
}
.sconto-5{
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
}
.cuore {
  color: red;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  font-size: 25px;
  transform: translate(-50%, 0%);
}
.contenitore:hover .cuore{
  opacity: 1;
}
