/* section */
section{
  width: 80%;
  height: 50%;
}
/* prima stringa */
.prima-stringa{
  width: auto;
  height: auto;
  border: 1px solid black;
}
#contenitore{
  display: inline-block;
  position: relative;
}
#sconto-30{
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
}
#sconto-5{
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
}
